In [1]:
import pandas as pd
target_table = pd.read_csv(r'xxx.csv')
target_table

FileNotFoundError: [Errno 2] No such file or directory: 'xxx.csv'

In [5]:
# 数値30毎にグループ化し、合計を計算している
# churn_days: (2023/04/01) - (ユーザーの最終ログイン日)
# churn_daysは離脱日数である。
# 離脱月数 = 離脱日数30日で離脱月数0としている。

segment_one = target_table[['churn_days', 'segment_one']]
segment_one.groupby(segment_one.churn_days // 30).sum()
# segment_one.groupby(segment_one.churn_days // 30).sum()['seg_good_return_user'].sum()

# 以下の結果は離脱月数 = 離脱日数30日で離脱月数0とした結果である
# seg_good_return_user: 有料ユーザー

            churn_days  seg_good_return_user
churn_days
0               672760                  6468
1              1832864                  1451
2              2896398                  1435
3              4810281                  1194
4              3441697                  1196
5              3421648                   996
6              4715729                  1338
7              6711698                  1379
8              7335999                  1545
9             11647275                  1732
10             9210195                  1568
11            10492390                  1534
12            13936909                  1646
13            15218189                  1821
14            23204438                  1943
15            26633825                  1903
16            17581911                  1639
17            14088520                  1231
18            15996460                  1913
19            16341219                     0
20            31118720                     0
21            29901243                     0
22            27048943                     0
23            24216108                     0
24            35449717                     0
25            47058736                     0
26            81146720                     0
27           139006228                     0
28           204531124                     0

In [9]:
# churn_days:離脱日数
pivot_result = target_table.pivot_table(index='churn_days', columns='sum_return', aggfunc='size', fill_value=0)
pivot_result

sum_return,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
churn_days,,,,,,,,,,,,,,,,,,,,,
1,6264,1037,681,541,427,352,296,294,230,222,...,38,24,17,7,6,2,0,1,1,0
2,3228,580,364,319,276,220,211,190,158,157,...,25,18,12,4,6,1,1,1,0,0
3,2112,475,306,223,197,162,147,147,139,119,...,25,15,9,5,4,3,2,0,0,0
4,1554,445,292,206,215,165,130,126,132,102,...,21,16,7,2,4,3,2,2,0,0
5,1472,452,347,252,225,211,204,162,162,136,...,34,25,20,8,5,3,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,19555,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
850,18419,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
851,24802,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
852,36026,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
853,36688,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
tmp = pd.DataFrame(pivot_result).reset_index()
tmp

sum_return,churn_days,0,1,2,3,4,5,6,7,8,...,17,18,19,20,21,22,23,24,25,26
0,1,6264,1037,681,541,427,352,296,294,230,...,38,24,17,7,6,2,0,1,1,0
1,2,3228,580,364,319,276,220,211,190,158,...,25,18,12,4,6,1,1,1,0,0
2,3,2112,475,306,223,197,162,147,147,139,...,25,15,9,5,4,3,2,0,0,0
3,4,1554,445,292,206,215,165,130,126,132,...,21,16,7,2,4,3,2,2,0,0
4,5,1472,452,347,252,225,211,204,162,162,...,34,25,20,8,5,3,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,849,19555,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
849,850,18419,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
850,851,24802,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
851,852,36026,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
852,853,36688,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
cnt_return = tmp.groupby(tmp['churn_days'] // 30).sum()
cnt_return

sum_return,churn_days,0,1,2,3,4,5,6,7,8,...,17,18,19,20,21,22,23,24,25,26
churn_days,,,,,,,,,,,,,,,,,,,,,
0,435,28845,6734,4536,3553,3143,2794,2516,2224,2069,...,372,297,187,91,64,36,17,14,5,2
1,1335,22069,3573,2200,1866,1637,1451,1313,1131,993,...,152,97,65,38,11,15,9,0,0,0
2,2235,22316,3119,2156,1812,1623,1327,1163,1004,890,...,66,40,20,12,4,0,0,0,0,0
3,3135,32202,2951,2086,1758,1535,1167,1043,870,720,...,36,17,15,2,2,1,0,0,0,0
4,4035,16633,2363,1596,1253,996,825,654,498,417,...,21,7,7,0,0,0,0,0,0,0
5,4935,14535,1832,1192,794,562,418,349,286,237,...,7,5,0,0,0,1,0,0,0,0
6,5835,16841,2175,1427,885,647,550,413,407,241,...,8,4,0,0,0,0,0,0,0,0
7,6735,20944,3025,1572,1039,795,645,462,392,275,...,7,4,0,2,0,0,0,0,0,0
8,7635,20470,2703,1484,1068,747,645,459,315,293,...,3,1,0,0,0,0,0,0,0,0
9,8535,30948,3116,1931,1352,955,746,553,431,328,...,1,0,0,0,0,0,0,0,0,0
10,9435,21960,2574,1513,984,695,479,384,293,224,...,0,0,0,0,0,0,0,0,0,0
11,10335,21828,3090,1794,1138,780,580,432,326,208,...,0,0,0,0,0,0,0,0,0,0
12,11235,28324,3538,1809,1013,781,533,399,311,196,...,0,0,0,0,0,0,0,0,0,0
13,12135,29000,3610,1644,1053,788,580,336,238,153,...,0,0,0,0,0,0,0,0,0,0
14,13035,42641,4004,2120,1600,1043,715,469,299,196,...,0,0,0,0,0,0,0,0,0,0
15,13935,45730,4140,2568,1842,1258,762,488,346,161,...,0,0,0,0,0,0,0,0,0,0
16,14835,26944,3401,2091,1322,829,510,318,195,79,...,0,0,0,0,0,0,0,0,0,0
17,15735,21454,2360,1259,742,441,276,170,94,34,...,0,0,0,0,0,0,0,0,0,0
18,16635,22716,2899,1433,803,459,321,182,76,27,...,0,0,0,0,0,0,0,0,0,0
19,17535,20694,3518,1600,926,573,353,178,63,11,...,0,0,0,0,0,0,0,0,0,0
20,18435,41529,4322,2077,1301,766,348,125,39,7,...,0,0,0,0,0,0,0,0,0,0
21,19335,38742,3507,2019,1164,636,210,55,14,0,...,0,0,0,0,0,0,0,0,0,0
22,20235,31074,4372,2739,1388,518,109,20,3,0,...,0,0,0,0,0,0,0,0,0,0
23,21135,25110,5092,2808,1060,249,34,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,22035,38257,6364,2744,751,109,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,22935,49299,8989,2751,383,13,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,23835,88271,11978,1730,31,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,24735,155994,12195,110,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,11851,241071,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
active_user = target_table.pivot_table(index='churn_days', columns='sum_active_date', aggfunc='size', fill_value=0)
active_user = pd.DataFrame(active_user).reset_index()
active_user

sum_active_date,churn_days,0,1,2,3,4,5,6,7,8,...,844,845,846,847,848,849,850,851,852,853
0,1,5708,52,44,48,60,48,44,44,41,...,5,1,1,3,1,3,2,1,0,1
1,2,3577,34,33,36,40,41,32,43,31,...,2,0,0,0,0,1,1,0,2,0
2,3,2525,24,18,18,20,25,25,26,20,...,1,0,0,1,0,1,0,0,0,0
3,4,2021,22,19,22,21,22,21,14,20,...,0,0,1,0,1,0,0,0,0,0
4,5,2118,21,39,24,20,32,25,28,25,...,0,2,0,1,1,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,849,19555,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
849,850,18419,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
850,851,24802,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
851,852,36026,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
852,853,36688,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
active_user_2 = active_user.groupby(active_user['churn_days'] // 30).sum()
active_user_2

sum_active_date,churn_days,0,1,2,3,4,5,6,7,8,...,844,845,846,847,848,849,850,851,852,853
churn_days,,,,,,,,,,,,,,,,,,,,,
0,435,38266,423,417,440,455,426,413,399,385,...,10,5,3,6,3,8,3,1,2,1
1,1335,29038,326,285,297,268,247,240,259,252,...,0,0,0,0,0,0,0,0,0,0
2,2235,27968,310,293,259,279,266,212,217,212,...,0,0,0,0,0,0,0,0,0,0
3,3135,37253,344,349,280,258,247,227,192,194,...,0,0,0,0,0,0,0,0,0,0
4,4035,20025,253,232,226,176,165,148,126,141,...,0,0,0,0,0,0,0,0,0,0
5,4935,16710,172,168,103,91,109,91,86,73,...,0,0,0,0,0,0,0,0,0,0
6,5835,19165,165,148,145,150,143,157,115,103,...,0,0,0,0,0,0,0,0,0,0
7,6735,24052,244,219,185,175,136,138,123,110,...,0,0,0,0,0,0,0,0,0,0
8,7635,22972,199,170,177,158,143,146,120,113,...,0,0,0,0,0,0,0,0,0,0
9,8535,33723,308,281,253,219,210,203,188,139,...,0,0,0,0,0,0,0,0,0,0
10,9435,23894,207,192,170,147,142,135,114,113,...,0,0,0,0,0,0,0,0,0,0
11,10335,24214,239,230,233,211,175,159,145,153,...,0,0,0,0,0,0,0,0,0,0
12,11235,30488,304,277,257,203,183,171,155,149,...,0,0,0,0,0,0,0,0,0,0
13,12135,30511,340,288,262,239,214,211,164,143,...,0,0,0,0,0,0,0,0,0,0
14,13035,43436,521,514,409,382,306,305,273,246,...,0,0,0,0,0,0,0,0,0,0
15,13935,45873,689,606,550,503,442,374,354,314,...,0,0,0,0,0,0,0,0,0,0
16,14835,26399,624,532,509,427,347,320,256,216,...,0,0,0,0,0,0,0,0,0,0
17,15735,19821,403,406,356,340,276,224,224,196,...,0,0,0,0,0,0,0,0,0,0
18,16635,17949,682,732,633,547,449,405,344,323,...,0,0,0,0,0,0,0,0,0,0
19,17535,27919,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,18435,50515,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,19335,46347,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,20235,40223,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,21135,34354,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,22035,48233,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,22935,61435,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,23835,102010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,24735,168299,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,11851,241071,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
ltv = target_table[['churn_days', 'ltv']]
ltv.groupby(ltv.churn_days // 30).sum()

            churn_days           ltv
churn_days
0               672760  8.905184e+08
1              1832864  3.630602e+08
2              2896398  3.303341e+08
3              4810281  2.345905e+08
4              3441697  1.849847e+08
5              3421648  1.375178e+08
6              4715729  1.436990e+08
7              6711698  1.389502e+08
8              7335999  1.550454e+08
9             11647275  1.707745e+08
10             9210195  1.566894e+08
11            10492390  1.458914e+08
12            13936909  1.283933e+08
13            15218189  1.309173e+08
14            23204438  1.728136e+08
15            26633825  1.861404e+08
16            17581911  1.167560e+08
17            14088520  9.015436e+07
18            15996460  1.090220e+08
19            16341219  1.367177e+08
20            31118720  1.453659e+08
21            29901243  1.243883e+08
22            27048943  1.170475e+08
23            24216108  9.488886e+07
24            35449717  1.357378e+08
25            47058736  1.322340e+08
26            81146720  1.232762e+08
27           139006228  1.172821e+08
28           204531124  3.524603e+07

In [27]:
# cluster_name: 課金セグメント
uu = target_table.groupby(target_table['churn_days'] // 30)['cluster_name'].count()

In [18]:
seg_payment = target_table.pivot_table(index='churn_days', columns='cluster_name', aggfunc='size', fill_value=0)
seg_payment = pd.DataFrame(seg_payment).reset_index()
seg_payment = seg_payment.groupby(seg_payment['churn_days'] // 30).sum()
seg_payment

cluster_name,churn_days,A:無課金,"B:ライト(～10,000)","C:ミドル(～50,000)","D:コア(～150,000)","E:超コア(150,001～)"
churn_days,,,,,,
0,435,55334,4513,3536,1731,1283
1,1335,36263,1929,1493,610,495
2,2235,34507,1805,1329,541,454
3,3135,43311,1474,1031,432,333
4,4035,24340,902,728,292,210
5,4935,19244,661,476,212,179
6,5835,22407,837,580,242,208
7,6735,27798,931,633,248,208
8,7635,26417,1095,756,274,228
9,8535,38349,1238,851,312,234
10,9435,27503,864,651,266,192
11,10335,28394,974,686,261,206
12,11235,34863,1088,754,281,185
13,12135,35167,1167,798,283,184
14,13035,50240,1493,976,338,213
15,13935,54155,1614,1044,375,228
16,14835,33553,1072,691,256,170
17,15735,25277,793,484,181,116
18,16635,26861,989,635,264,174
19,17535,25322,1289,813,302,193
20,18435,47141,1880,964,327,203
21,19335,43646,1476,753,274,198
22,20235,37549,1417,811,282,164
23,21135,31624,1450,846,288,146
24,22035,44478,2063,1131,378,183
25,22935,56554,2887,1419,410,165
26,23835,95666,4033,1781,411,119
27,24735,159076,6506,2318,336,63
28,11851,237090,3135,763,74,9

In [24]:
seg_payment_ltv = target_table.pivot_table(index='churn_days', columns='cluster_name', values='ltv', aggfunc='sum', fill_value=0)
seg_payment_ltv = pd.DataFrame(seg_payment_ltv).reset_index()
seg_payment_ltv = seg_payment_ltv.groupby(seg_payment_ltv['churn_days'] // 30).sum()
seg_payment_ltv

cluster_name,churn_days,A:無課金,"B:ライト(～10,000)","C:ミドル(～50,000)","D:コア(～150,000)","E:超コア(150,001～)"
churn_days,,,,,,
0,435,0,17877410.00,86915120.00,1.496219e+08,6.361040e+08
1,1335,0,7526930.00,36160970.00,5.254098e+07,2.668313e+08
2,2235,0,7284910.00,33193880.00,4.649163e+07,2.433636e+08
3,3135,0,5930280.00,24289230.00,3.671372e+07,1.676572e+08
4,4035,0,3703300.00,17893350.00,2.457261e+07,1.388154e+08
5,4935,0,2656840.00,11489348.66,1.872173e+07,1.046499e+08
6,5835,0,3462330.00,13798560.00,2.153106e+07,1.049070e+08
7,6735,0,3811140.00,15398228.67,2.072977e+07,9.901102e+07
8,7635,0,4268920.00,18308970.00,2.340319e+07,1.090644e+08
9,8535,0,4820500.00,19751700.00,2.819592e+07,1.180064e+08
10,9435,0,3520670.00,15702240.00,2.287136e+07,1.145951e+08
11,10335,0,3761880.00,15963050.00,2.257300e+07,1.035935e+08
12,11235,0,4271960.00,17979250.00,2.361606e+07,8.252602e+07
13,12135,0,4554080.00,18515500.00,2.410599e+07,8.374176e+07
14,13035,0,5891620.00,23372230.00,2.941630e+07,1.141335e+08
15,13935,0,6443890.00,24426250.00,3.243346e+07,1.228368e+08
16,14835,0,4336048.66,15988208.66,2.245725e+07,7.397448e+07
17,15735,0,3164320.00,11294210.00,1.596314e+07,5.973269e+07
18,16635,0,3920130.00,14946850.00,2.264549e+07,6.750958e+07
19,17535,0,5059250.00,19368740.00,2.541325e+07,8.687646e+07
20,18435,0,7062810.00,22523990.00,2.784204e+07,8.793703e+07
21,19335,0,5560780.00,17545260.00,2.272663e+07,7.855563e+07
22,20235,0,5621498.66,18863938.64,2.462598e+07,6.793604e+07
23,21135,0,5971290.00,20072400.00,2.445889e+07,4.438628e+07
24,22035,0,8177960.00,26057518.62,3.238269e+07,6.911964e+07
25,22935,0,11531148.71,32160288.69,3.340943e+07,5.513315e+07
26,23835,0,16221745.98,39532385.96,3.339076e+07,3.413128e+07
27,24735,0,25333325.95,50228808.69,2.667034e+07,1.504962e+07
28,11851,0,11781310.00,15699920.00,5.524227e+06,2.240570e+06

In [44]:
def seg_payment(value):
    if value == 0:
        return 'I:0円'
    elif value < 10000:
        return 'H:1円~'
    elif value < 50000:
        return 'G:1万円~'
    elif value < 100000:
        return 'F:5万円~'
    elif value < 250000:
        return 'E:10万円~'
    elif value < 500000:
        return 'D:25万円~'
    elif value < 1000000:
        return 'C:50万円~'
    elif value < 1500000:
        return 'B:100万円~'
    elif value >= 1500000:
        return 'A:150万円~'
    else:
        return 'J:ELSE'

In [45]:
target_table['ltv_seg'] = target_table['ltv'].apply(seg_payment)

In [48]:
seg_payment_ver_2 = target_table.pivot_table(index='churn_days', columns='ltv_seg', values='user_id', aggfunc='size', fill_value=0)
seg_payment_ver_2 = pd.DataFrame(seg_payment_ver_2).reset_index()
seg_payment_ver_2 = seg_payment_ver_2.groupby(c['churn_days'] // 30).sum()
seg_payment_ver_2

In [49]:
# 前提: ユーザーごとの過去年月別の課金額から(過去年月からただ一つにmaxして算出した)最高課金額を算出したデータ
saigo = pd.read_csv(r'yyy.csv')
saigo

             user_id  churn_days  max_payment
0        10000000022         853          0.0
1        10000000023         721          0.0
2        10000000025         852          0.0
3        10000000029         853          0.0
4        10000000031         850          0.0
...              ...         ...          ...
1520854  10012595634           1          0.0
1520855  10012595644           1          0.0
1520856  10012595655           1          0.0
1520857  10012595671           1          0.0
1520858  10012595696           1          0.0

[1520859 rows x 3 columns]

In [53]:
saigo['ltv_seg'] = saigo['max_payment'].apply(seg_payment)
saigo

             user_id  churn_days  max_payment ltv_seg
0        10000000022         853          0.0    I:0円
1        10000000023         721          0.0    I:0円
2        10000000025         852          0.0    I:0円
3        10000000029         853          0.0    I:0円
4        10000000031         850          0.0    I:0円
...              ...         ...          ...     ...
1520854  10012595634           1          0.0    I:0円
1520855  10012595644           1          0.0    I:0円
1520856  10012595655           1          0.0    I:0円
1520857  10012595671           1          0.0    I:0円
1520858  10012595696           1          0.0    I:0円

[1520859 rows x 4 columns]

In [55]:
d = saigo.pivot_table(index='churn_days', columns='ltv_seg', values='user_id', aggfunc='size', fill_value=0)
d = pd.DataFrame(d).reset_index()
d = d.groupby(d['churn_days'] // 30).sum()
d